<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fidelity.smallChange.integration.mapper.AccountMapper">
	<select id="getAccount" resultType="Account">
		select username, clientId, funds 
		from SC_ACCOUNT
		where USERNAME = #{username}
	</select>
	
	<insert id="createAccount" parameterType="Account">
		INSERT INTO sc_account(username, clientId, funds) 
		VALUES (#{username}, #{clientId}, #{funds})
	</insert>
	
	<select id="checkIfAccountExists" parameterType="String" resultType="int">
		select count(clientId) from SC_ACCOUNT 
		where clientId = #{value}
	</select>
	
	<select id="getAccountFunds" resultType="BigDecimal">
		select funds 
		from SC_ACCOUNT
		where clientId = #{clientId}
	</select>
	
	<update id="updateFunds" parameterType="Map">
		update SC_ACCOUNT
		set funds = #{funds}
		where clientId = #{clientId}
	</update>
</mapper>