<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fidelity.smallChange.integration.mapper.BankAccountMapper"> 
	<select id="getBankAccounts" resultType="BankAccount">
		SELECT clientId, account_number, bank_name, balance
		FROM SC_BANKACCOUNT
		WHERE clientId = #{value}
	</select>

	<insert id="insertBankAccount" parameterType="BankAccount">
		INSERT INTO sc_bankaccount(clientId, account_number, bank_name, balance) 
		values(#{clientId}, #{account_number}, #{bank_name}, #{balance })
	</insert>
	
	<update id="updateBankAccount" parameterType="BankAccount">
		UPDATE SC_BANKACCOUNT
		SET BANK_NAME = #{bank_name}, BALANCE= #{balance }
		WHERE account_number = #{account_number}
	</update>
	
	<delete id="deleteBankAccount" parameterType="String">
		DELETE FROM SC_BANKACCOUNT
		WHERE account_number = #{value}
	</delete>
	
	<select id="getBankBalance" resultType="BigDecimal">
		SELECT balance
		FROM SC_BANKACCOUNT
		WHERE account_number = #{value}
	</select>
	
	<update id="updateBankBalance" parameterType="Map">
		UPDATE SC_BANKACCOUNT
		SET BALANCE= #{balance }
		WHERE account_number = #{account_number}
	</update>
</mapper>