<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fidelity.smallChange.integration.mapper.HoldingMapper">

	 <resultMap type="Holding" id="HoldingWithSecurityMap">
		<result property="holdingQuantity" column="QTY"/>
		<result property="investedAmount" column="INVESTED_AMOUNT"/>
		<result property="sId" column="S_ID"/>
		<result property="security.sid" column="S_ID"/>
		<result property="security.sname" column="S_NAME"/>
		<result property="security.scode" column="S_CODE"/>
		<result property="security.ltp" column="S_LTP"/>
		<result property="security.assetClass" column="S_ASSET_CLASS"/>
	</resultMap>
	
	<select id="getAllHoldings" resultMap="HoldingWithSecurityMap" parameterType="String">
		SELECT hld.HOLDING_ID, hld.QTY, hld.INVESTED_AMOUNT, hld.S_ID, stk.S_ID, stk.S_NAME, stk.S_CODE, stk.S_LTP, stk.S_ASSET_CLASS
		FROM SC_HOLDING hld 
        LEFT JOIN SC_SECURITIES stk
        ON hld.s_id = stk.s_id 
        where hld.clientId = #{value}
	</select>
	
	<select id="getHoldingBySecurityId" resultMap="HoldingWithSecurityMap">
		SELECT hld.HOLDING_ID, hld.QTY, hld.INVESTED_AMOUNT, hld.S_ID, stk.S_ID, stk.S_NAME, stk.S_CODE, stk.S_LTP, stk.S_ASSET_CLASS
		FROM SC_HOLDING hld 
        LEFT JOIN SC_SECURITIES stk
        ON hld.s_id = stk.s_id 
        where hld.clientId = #{clientId} and hld.s_id = #{s_id} 
	</select>
	
	<insert id="addHolding" parameterType="Map">
		INSERT INTO SC_HOLDING(S_ID, QTY, INVESTED_AMOUNT, clientId)
		VALUES(#{holding.sId}, 
		#{holding.holdingQuantity}, #{holding.investedAmount}, #{clientId})
	</insert>
	
	<delete id="deleteHolding" parameterType="Map">
		DELETE FROM SC_HOLDING 
		WHERE clientId = #{clientId} AND s_id = #{holding.sId}
	</delete>
	
	<update id="updateHolding" parameterType="Map">
		UPDATE SC_HOLDING
			SET
				QTY = #{holding.holdingQuantity},
				INVESTED_AMOUNT = #{holding.investedAmount}
			WHERE				
				clientId = #{clientId} AND 
				S_ID = #{holding.sId}
	</update>
</mapper>