<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fidelity.smallChange.integration.mapper.SecurityMapper">

	 <resultMap type="Security" id="SecurityMap">
		<id property="sid" column="S_ID"/>
		<result property="sname" column="S_NAME"/>
		<result property="scode" column="S_CODE"/>
		<result property="ltp" column="S_LTP"/>
		<result property="assetClass" column="S_ASSET_CLASS"/>		
	</resultMap>
 
	<select id="getSecurities" resultMap="SecurityMap">
		SELECT * from scott.SC_SECURITIES
	</select>
		
	<insert id="insertSecurity" parameterType = "Security">
	INSERT INTO SC_SECURITIES(S_ID, S_NAME, S_CODE, S_LTP, S_ASSET_CLASS) 
	VALUES (#{sid}, #{sname}, #{scode},#{ltp},#{assetClass})	
	</insert>
	
	<delete id="deleteSecurity" parameterType="Integer">
		   DELETE FROM SC_SECURITIES
           WHERE s_id = #{value}
	</delete>
	
	<update id="updateSecurity" parameterType="Security">
		UPDATE scott.SC_SECURITIES
			SET
			    s_name = #{sname},
			    s_ltp = #{ltp},
			    s_asset_class = #{assetClass},
			    s_code = #{scode}
			WHERE
			    s_id = #{sid}
	</update>
	
</mapper>