<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fidelity.smallChange.integration.mapper.UserDaoMapper">
	 
	<select id="getAllUsers" resultType="User">
		select first_name as firstName, last_name as lastName, date_of_birth as dob, 
			email as email, 
			phone_number as phone, 
			username as username,
			user_password as password
		from sc_users
	</select>
	
	<select id="loginUser" resultType="User" parameterType="Map">
		select first_name as firstName, last_name as lastName, date_of_birth as dob, 
			email as email, 
			phone_number as phone, 
			username as username,
			user_password as password from sc_users 
		WHERE 
		username = #{username} 
		AND 
		user_password = #{password}
	</select>
	
	<delete id="deleteUser" parameterType="String">
		DELETE FROM sc_users WHERE username = #{username}
	</delete>
	
	<insert id="signUpUser" parameterType="User">
		INSERT INTO sc_users (first_name, last_name, date_of_birth, email, phone_number, username, user_password)
		VALUES (#{firstName}, #{lastName}, #{dob}, #{email}, #{phone}, #{username}, #{password})
	</insert>
	
	<insert id="setUserPreferences" parameterType="Preference">
		INSERT INTO sc_preferences (username, purpose, risk_tolerance, income_category, length_of_investment)
		VALUES (#{username}, #{purpose}, #{risk}, #{incomeCategory}, #{lengthOfInvestment})
	</insert>
	
</mapper>